.body {
    background-color: #D3D3D3;
    min-height: 100vh;
}


.social-nav {
    margin-top: 3%;
    justify-content: space-between;
}

.horiz {
    margin-top: 0;
}

.pro-pic {
    width: 8%;
    height: 8%;
    margin: 1%;
}

.pro-name {
    padding-left: 0px !important;
    padding-right: 5px !important;
}

.time {
    float: right;
    padding-top: 5%;
}

.post-pic {
    padding: 0 2% 0 2%;
}